/main.aux
/main.log
/main.pdf
/main.synctex.gz
/auto/main.el
/main.bbl
/main.blg
/_minted-main/ABEF7342296CBDF544DA04EA8D4ECFDE9EC530B67EC95A313D0709B2D83FDF79.pygtex
/_minted-main/default-pyg-prefix.pygstyle
/_minted-main/default.pygstyle
